<div class="right_col">
          <div>
            <div class="row">
              <div class="clearfix"></div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>员工管理 <small>Custom design</small></h2>
                    
                    <div style="float: right;">
                      <a href="/admin/employees/create" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> 新增 </a>
                    </div>
                    
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content"  style="overflow: visible;">

                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer"  style="overflow: visible;">
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="dataTables_length" style="width: auto;">
                                  <label>
                                     部门 
                                     <select name="datatable_length" id="departmentSelect" class="form-control input-sm">
                                         <option value="">全部</option>
                                         {{#each departmentList}}
                                         <option value={{id}}>{{name}}</option>
                                         {{/each}}
                                     </select>
                                   </label>
                               </div>
                               <div class="dataTables_length" style="width: auto; margin-left: 15px;">
                                  <label>
                                     角色 
                                     <select name="datatable_length" id="roleSelect" class="form-control input-sm">
                                         <option value="">全部</option>
                                         {{#each roleList}}
                                         <option value={{id}}>{{name}}</option>
                                         {{/each}}
                                     </select>
                                   </label>
                               </div>
                               <div class="dataTables_length" style="width: auto; margin-left: 15px;">
                                  <label>
                                     显示条数 
                                     <select name="datatable_length" id="pageSizeSelect" class="form-control input-sm">
                                         <option value="2">2</option>
                                         <option value="3">3</option>
                                         <option value="15">15</option>
                                         <option value="20">20</option>
                                         <option value="25">25</option>
                                         <option value="30">30</option>
                                     </select>
                                   </label>
                               </div>
                               <div class="dataTables_length" style="width: auto; margin-left: 15px;">
                                  <label>
                                     状态 
                                     <select name="datatable_length" class="form-control input-sm">
                                         <option value="">全部</option>
                                         <option value="">正常</option>
                                         <option value="">禁用</option>
                                     </select>
                                   </label>
                               </div>
                          </div>
                          
                          <div class="col-sm-6">
                              <div id="datatable_filter" class="dataTables_filter">
                                  <label>
                                     Search:
                                     <input type="search" class="form-control input-sm" placeholder="">
                                  </label>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                      <th>
                                        <input type="checkbox" id="check-all" class="flat">
                                      </th>
                                      <th class="column-title">真实姓名 </th>
                                      <th class="column-title">用户名 </th>
                                      <th class="column-title">部门 </th>
                                      <th class="column-title">角色 </th>
                                      <th class="column-title">联系电话 </th>
                                      <th class="column-title">状态 </th>
                                      <th class="column-title no-link last"><span class="nobr"></span>
                                      </th>
                                      <th class="bulk-actions" colspan="7">
                                         <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                      </th>
                                    </tr>
                                </thead>
      
                                <tbody id="datalistBox">
                                  {{#each employeeList}}
                                    <tr class="even pointer">
                                      <td class="a-center ">
                                        <input type="checkbox" class="flat" name="table_records">
                                      </td>
                                      <td>{{EmployeeInfo.name}}</td>
                                      <td>{{username}}</td>
                                      <td>{{Department.name}}</td>
                                      <td>{{Role.name}}</td>
                                      <td>{{EmployeeInfo.phone}}</td>
                                      <td>
                                        <button type="button" class="btn btn-success btn-xs">正常</button>
                                      </td>
                                      <td style="position: relative;">
                                          <!-- <button data-toggle="dropdown" class="btn btn-success dropdown-toggle btn-xs" type="button">操作 <span class="caret"></span>
                                          </button>
                                          <ul role="menu" class="dropdown-menu">
                                            <li><a href="#">权限信息</a>
                                            </li>
                                            <li><a href="#">个人信息</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a href="#">删除</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a href="#">密码重置</a>
                                            </li>
                                          </ul> -->
                                          <a href="editEmployee.html" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> 编辑 </a>
                                          <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> 删除 </a>
                                          <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-key"></i> 重置密码 </a>
                                      </td>
                                    </tr>
                                   {{/each}}
                                </tbody>
                            </table>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info">总页数<span id="pageTotle"></span> 总条数<span id="dataTotle"></span></div>
                        </div>
                        <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                                <ul class="pagination" style="margin: 0px" id="paginationBox">
                                    <li class="paginate_button previous disabled" id="previous_Btn">
                                       <a href="#">Previous</a>
                                    </li>

                                    <li class="paginate_button active">
                                       <a href="#">1</a>
                                    </li>
                                    <li class="paginate_button">
                                       <a href="#">2</a>
                                    </li>
                                    <li class="paginate_button ">
                                       <a href="#">3</a>
                                    </li>
                                    <li class="paginate_button">
                                       <a href="#">4</a>
                                    </li>
                                    <li class="paginate_button ">
                                       <a href="#">5</a>
                                    </li>
                                    <li class="paginate_button next" id="next_Btn">
                                       <a href="#">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                      </div>

                    </div>
							
						
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

{{#section 'script'}}
    <script type="text/javascript" src="/assets/js/controller/employees.js"></script>
{{/section}}